<form action="/simular">
  INGRESE LOS DATOS DEL CARRO:<br>
  <br>
  filas:
  <input type="text" name="filas" >
  <br><br>
  columnas:
  <input type="text" name="columnas">
  <br><br>
  posx:
  <input type="text" name="posx" >
  <br><br>
  posy:
  <input type="text" name="posy">
  <br><br>
  orientacion:
  <input type="text" name="orientacion" >
  <br><br>
    nombre:
    <input type="text" name="nombre" >
    <br><br>
    instrucciones:
    <input type="text" name="instrucciones" >
   <input type="submit" value="simular">
</form> 