<link href="styles.css" rel="stylesheet" type="text/css" />
<body class="home">
<br>
<center>
<h1>Dash y Dot</h1>
<h3>-------------Simulador-------------</h3>

<a class="zelda" href="/ingresarDatosCarro">Ingresar datos de carro para simular</a>
<br>

</center>
</body>
